<%- include('../includes/head.ejs') %>

<!-- NAVBAR -->
<%- include('../includes/navbar.ejs', {path: path, isLoggedIn: isLoggedIn, csrfToken: csrfToken,
requestCount: requestCount, adminName: adminName}) %>

<!-- HEADING -->
<header class="bg-success text-white py-1">
	<div class="container">
		<h1><i class="fa fa-folder"></i> Categories</h1>
	</div>
</header>
<!-- FEEDBACK -->
<div class="collapse <%= successMessage||errorMessage?'show':'' %>" id="feedbackCollapse">
	<div class="card card-body fb <%= successMessage?'fb--success':'fb--error' %>">
		<button class="close"><span>&times;</span></button>
		<p class="fb__message m-0 p-0"><%= successMessage || errorMessage %></p>
	</div>
</div>

<!-- ADD SECTION -->
<section class="bg-light py-4">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6">
				<form action="/categories" method="GET">
					<div class="input-group">
						<input
							type="text"
							class="form-control"
							placeholder="Search in titles"
							name="search"
							id="search"
						/>
						<span class="input-group-btn">
							<input type="submit" value="Search" class="btn btn-success" />
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- TABLE & STATE SECTION -->
<section class="py-4">
	<div class="container">
		<div class="row">
			<!-- TABLE -->
			<div class="col">
				<div class="card">
					<div class="card-header">
						<h4>Latest Categories</h4>
					</div>
					<table class="table table-striped">
						<thead class="thead-inverse">
							<tr>
								<th>#</th>
								<th>Category</th>
								<th>Date Posted</th>
							</tr>
						</thead>
						<tbody>
							<% categories.forEach((category, index) => { %>
							<tr>
								<td scope="row"><%= index+1 %></td>
								<td><%= category.title %></td>
								<td><%= category.createdAt %></td>
							</tr>
							<% }) %>
						</tbody>
					</table>

					<!-- PAGINATION -->
					<% if (categories.length > 0) { %>
						<%- include('../includes/pagination.ejs', { beforePreviousPage: beforePreviousPage, hasBeforePreviousPage: hasBeforePreviousPage, previousPage: previousPage, hasPreviousPage: hasPreviousPage, currentPage: currentPage, nextPage: nextPage, hasNextPage: hasNextPage, afterNextPage: afterNextPage, hasAfterNextPage: hasAfterNextPage, lastPage: lastPage }) %>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- MAIN FOOTER -->
<%- include('../includes/footer.ejs') %>
<!-- SCRIPTS AND END OF BODY -->
    <%- include('../includes/end.ejs') %> 
</body>
</html>
