<%- include('../../includes/head.ejs') %>


    <!-- NAVBAR -->
    <%- include('../../includes/navbar.ejs', {path: path, isLoggedIn: isLoggedIn, csrfToken: csrfToken }) %>


    <!-- HEADING -->
    <header class="bg-primary text-white py-1">
        <div class="container">
            <h1><i class="fa fa-user"></i> Admin Reset Password</h1>
        </div>
    </header>
    <!-- FEEDBACK -->
    <div class="collapse <%= successMessage||errorMessage?'show':'' %>" id="feedbackCollapse">
        <div class="card card-body fb <%= successMessage?'fb--success':'fb--error' %>">
            <button class="close"><span>&times;</span></button>
            <p class="fb__message m-0 p-0"><%= successMessage || errorMessage %></p>
        </div>
    </div>
    <!-- LOGIN SECTION -->
    <section id="login-card" class="py-5 mb-1">
        <div class="container">
            <div class="row mb-1">
                <div class="col-md-6 mx-auto my-3 mb-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center">Reset Password</h3>
                        </div>
                        <div class="card-body">
                            <form action="/auth/reset-password" method="POST" class="form-row mb-2">
                                <div class="form-group col-12">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control <%= isEmailValid?'':'is-invalid' %>" name="email" id="email" <% if(!isEmailValid){ %> value="<%= oldInput.email %>" <% } %> placeholder="Put your acount email">
                                    <% if (!isEmailValid) { %>
                                        <div class="invalid-feedback d-block">
                                            <%= emailMessage %>
                                        </div>
                                    <% } %>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input  class="btn btn-primary btn-block" type="submit" value="Reset Password">
                            </form>
                            <div class="form-group mt-2">
                                <a href="/auth/Login" class="btn btn-light btn-block">Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- MAIN FOOTER -->
    <%- include('../../includes/footer.ejs') %>

    <!-- SCRIPTS AND END OF BODY -->
    <%- include('../../includes/end.ejs') %> 

</body>
</html>